@model IEnumerable<EmployeesYordan.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add</h2>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Upload file</label>
        <input type="file" id="FileUpload" name="FileUpload" class="form-control-file">
        <br />
        <button type="submit" id="fileBtn" class="btn btn-primary">Submit</button>
    </div>
</form>




@if (Model.Count() > 0)
{
    <h2>Employees</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    Project ID,
                </th>
                <th>
                    Days worked
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysWorking)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
